.select_trigger {
  --box-shadow: 0 0 0 1px #e0e0e0;
  --width: 170px;
  --height: 40px;
  --padding: 0 16px;
  --background: var(--background-color);

  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 4px;
  padding: var(--padding);
  font-size: 13px;
  gap: 5px;
  width: var(--width);
  height: var(--height);
  background-color: var(--background);
  // box-shadow: none;
  border: none;
  outline: none;
  box-shadow: var(--box-shadow);

  &:focus {
    box-shadow: 0 0 0 2px #e0e0e0;
  }
  &[data-state='open'],
  &:not([data-placeholder]) {
    background-color: #fff;
  }

  .show_placeholder_and_value {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    .show_placeholder {
      color: #9d9b9f;
      font-size: 0.625rem;
    }
  }
}

.select_content {
  --content-padding: 5px;
  --content-item-padding: 0 35px 0 25px;

  z-index: 99999; // for the select inside drawer
  margin-top: 4px;
  width: var(--radix-select-trigger-width);
  overflow: hidden;
  background-color: white;
  border-radius: 4px;
  box-shadow: 0px 10px 38px -10px rgba(22, 23, 24, 0.35), 0px 10px 20px -15px rgba(22, 23, 24, 0.2);

  .select_view_port {
    padding: var(--content-padding);
  }

  .select_item {
    font-size: 13px;
    line-height: 1;
    border-radius: 3px;
    display: flex;
    align-items: center;
    height: 25px;
    position: relative;
    user-select: none;
    padding: var(--content-item-padding);

    &[data-highlighted] {
      outline: none;
      color: var(--secondary-font-color);
      background-color: var(--primary-bg-color);
    }
  }
}
