@import '../../../../breakpoints.scss';

.reservation_main {
  border-radius: 20px;
  padding: 30px 20px;
  background-color: var(--background-color);

  .table_status {
    & > div {
      display: flex;
      justify-content: center;

      & p {
        width: 78px;
        height: 23px;
        border-radius: 4px;
        color: #fff;
      }
    }

    &[data-status='Paid'] p {
      background-color: #70d9c6;
    }
    &[data-status='Unpaid'] p {
      background-color: #c9c9c9;
    }
  }
}
