@import '../../../../breakpoints.scss';

.dashboard_main {
  margin-bottom: 142px;
}

.financial_data {
  margin: 20px 0;
  display: flex;
  gap: 20px;
  justify-content: space-between;

  @include breakpoint(Max480) {
    flex-direction: column;
  }
}
