.table_wrapper {
  display: grid;
}

.astraashram_table {
  --first-td-font-weight: 400;
  --header-bg-color: #ffffff;
  --first-td-bg-color: #ffffff;

  padding-bottom: 20px;

  /* chrome */
  &::-webkit-scrollbar {
    border-radius: 10px;
    scrollbar-width: thin;
    background-color: #f0f6f6;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: var(--primary-bg-color);
  }

  thead > tr > th {
    font-weight: 500;
    height: 50px;
    text-align: center;
    font-size: 0.875rem;
    border: 1px solid #acacac;
    border-left: none;
    border-right-color: var(--background-color);
    color: var(--primary-font-color);
    background-color: var(--header-bg-color);
  }

  thead > tr > th:first-of-type {
    text-align: start;
    padding-left: 20px;
  }

  tbody > tr > td {
    height: 40px;
    font-size: 0.875rem;
    text-align: center;
    border-bottom: 1px solid #ededed;
  }

  &[data-first-td-bg-color='true'] {
    tbody > tr > td:first-of-type {
      font-weight: var(--first-td-font-weight);
      background-color: var(--first-td-bg-color);
    }

    thead > tr > th:first-of-type {
      background-color: var(--first-td-bg-color);
    }
  }
}
