/* ==== CSS RESET - start ==== */

/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

/*
  2. Remove default margin and padding
*/
* {
  margin: 0;
  padding: 0;
}

/*
  Typographic tweaks!
  3. Add accessible line-height
  4. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

/*
  5. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/*
  6. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}

/*
  7. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/*
  8. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

/* ==== CSS RESET - end ==== */

:root {
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono', 'Roboto Mono',
    'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro', 'Fira Mono', 'Droid Sans Mono',
    'Courier New', monospace;

  --primary-font-color: #2a2a2a;
  --secondary-font-color: #ffffff;

  --primary-bg-color: #014745;
  --secondary-bg-color: #ac9b6d;
  --inactive-bg-color: #d4d4d4;

  --background-color: #ffffff;
  --error-color: #eb5757;

  --content-background-color: #ecf7f7;
}

body {
  color: var(--primary-font-color);
  background: var(--background-color);
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary-font-color: #ffffff;
    --secondary-font-color: #2a2a2a;
    --background-color: #000000;
    --content-background-color: #000000;
  }

  html {
    color-scheme: dark;
  }
}

/* html,
body {
  max-width: 100vw;
  overflow-x: hidden;
} */

/* a {
  color: inherit;
  text-decoration: none;
} */
